@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr{
    @apply block
}
html {
  transition: background-color 0.3s, color 0.3s;
}
img, video, canvas, audio, iframe, embed, object {
  display: block;
}

svg {
  display: inline-block;
}